<div class="header-container">
  <div class="header-left">
    ROLODEX
  </div>

  <div class="header-right">

    <div class="logged-in" *ngIf="isLoggedIn()">
      Welcome, {{ user.username }}
      <ul>
        <li>
          <a routerLink="/">Home</a>
        </li>
        <li>
          <a routerLink="/create">Create Contacts</a>
        </li>
        <li>
          <a routerLink="/all">View All Contacts</a>
        </li>
        <li>
          <a routerLink="/profile">My Profile</a>
        </li>
        <li>
          <a routerLink="/"><button (click)="logout()"> Log Out</button></a>
        </li>
      </ul>
    </div>

  </div>
</div>
